$color_info_base: #fff7eb;
$color_info_aditional: #caf7f1;
$color_medical_evaluations: #f4f6f9;

.container {
  height: 85%;
  background-color: #edf0f5;
  padding-left: 80px;

  .section-info-base {
    display: grid;
    grid-template-columns: 50% 25% 25%;

    .info-base {
      margin-right: -16px;
      background-color: $color_info_base;
    }

    .info-aditional {
      background-color: $color_info_aditional;
      margin-right: -26px;
    }

    .medical-evaluations {
      background-color: $color_medical_evaluations;
    }
  }
}
