table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-elevation-z8 {
  padding: 10px;
}

.mat-icon{
  cursor: pointer;
}
.edit{
  margin-left: 14%;
}

.delet{
  margin-left: 15px;;
}

.mat-icon:hover{
  color: #0388e5;
  font-size: 30px;
}
