
  <div class="example-container">
    <div class="fondo">

      <mat-form-field>
        <mat-label>Nombres</mat-label>
        <input matInput type="text" [(ngModel)]="patient.nombreCompleto" placeholder="Nombres">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Sintomas</mat-label>
        <input matInput type="text" [(ngModel)]="patient.sintomas" placeholder="Nombres">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Edad</mat-label>
        <input matInput type="number"  [(ngModel)]="patient.edad" placeholder="Edad">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Eps</mat-label>
        <input matInput type="text"  [(ngModel)]="patient.eps" placeholder="Eps">
      </mat-form-field>
      <br>
      <button mat-icon-button color="primary" (click)="guardar()">
        <mat-icon>save</mat-icon>
        <span>Guardar</span>
      </button>
    </div>

  </div>



